<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214741830219-fjpidhvj9k9l2q3iu1r361kmieqknbqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214741830219-fjpidhvj9k9l2q3iu1r361kmieqknbqq</string>
	<key>API_KEY</key>
	<string>AIzaSyDKaWQy0YE90UyH4zCubaKGvgZscWBQlM4</string>
	<key>GCM_SENDER_ID</key>
	<string>214741830219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firedev</string>
	<key>PROJECT_ID</key>
	<string>firedev-64a4e</string>
	<key>STORAGE_BUCKET</key>
	<string>firedev-64a4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214741830219:ios:43c096c5c70f08280a1bce</string>
</dict>
</plist>